<button onclick="add()">Add Level</button>
<button onclick="edit()">Edit Levels</button>
<button onclick="allusers()">See All Users</button>
<button onclick="answerlog()">Answer Log</button>

<script>
    function answerlog() {
        window.location.href = "/admin/answerlog";
    }
    function allusers() {
        window.location.href = "/admin/users";
    }
    function add() {
        window.location.href = "/admin/add";
    }

    function edit() {
        window.location.href = "/admin/edit";
    }
</script>