<button onclick="add()">Add Level</button>
<button onclick="edit()">Edit Levels</button>
<button>See All Users</button>
<button>Answer Log</button>

<script>
    function add() {
        window.location.href = "/admin/add";
    }

    function edit() {
        window.location.href = "/admin/edit";
    }
</script>