<script>
    function register() {
        window.location.href = "/auth/discord";
    }

    // const hamburger = document.querySelector(".hamburger");
    // const navMenu = document.querySelector(".nav-menu");
    // hamburger.addEventListener("click", () => {
    //     hamburger.classList.toggle("active");
    //     navMenu.classList.toggle("active");
    // })
    document.querySelectorAll(".nav-link").forEach(n => n.addEventListener("click", () => {
        hamburger.classList.remove("active");
        navMenu.classList.remove("active");
    }))

</script> 
<div class="navbar">
    <a href="/" class="nav-branding"><img class="logo" src="/ts.png"></a>
    <ul class="nav-menu">
        <% if (typeof user == "undefined"){ %>
            <li class="nav-item">
                <a href="/leaderboard" class="nav-link">Leaderboard</a>
            </li>
            <li class="nav-item">
                <a href="/auth/discord" class="nav-link ">Login</a>
            </li>x
        <%}else{%>
            <li class="nav-item">
                <a href="/play" class="nav-link">Dashboard</a>
            </li>
            <li class="nav-item">
                <a href="/leaderboard" class="nav-link">Leaderboard</a>
            </li>
            <li class="nav-item">
                <a href="/profile" class="nav-link">Profile</a>
            </li>
        <% } %>
    </ul>
    <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
</div>