<div class="hidden-text">
    <h2><%- link.text %></h2>
</div>

<style>
    .hidden-text {
        background-color: black;
        height: 100%;
        width: 100%;
    }
    h2{
        color: white;
        word-wrap: break-word;
        white-space: pre-line;
    }
</style>