<style>
    body{
        overflow-x: hidden;
    }
</style>
<div class="landing-div">
    <div class="landing-content">
        <h1>
            Welcome to <br>
            <span style="color:#16e16e;">Encryptid '22</span> 
        </h1>
        <br>
        <ul class="countdown">
        </ul>
    </div>
    <div class="landing-illus"></div>
</div>