<div class="landing-div">
    <div class="landing-content">
        <h1>
            Welcome to <br>
            <span style="color:#16e16e;">Encryptid '22</span> 
        </h1>
        <br>
        <ul class="countdown">
            <li><p>days</p><span id="days">00</span></li>
            <li><p>hrs</p><span id="hrs">00</span></li>
            <li><p>mins</p><span id="mins">00</span></li>
            <li style="color: #16e16e;"><p>sec</p><span id="secs">00</span></li>
        </ul>
    </div>
    <div class="landing-illus"></div>
</div>
