<div class="landing-div">
    <div class="landing-content">
        <h1>
            Welcome to <br>
            <span style="color:#16e16e;">Encryptid '22</span> 
        </h1>
        <br>
        <p>
            Lorem ipsum, in graphical and textual context, refers to filler <br>
            text that is placed in a document or visual presentation. Lorem  <br>
            ipsum is derived from the Latin "dolorem ipsum" roughly translated  <br>
            as "pain itself."
        </p>
    </div>
    <div class="landing-illus"></div>
</div>
