@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800&display=swap');
*{
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(0, 0, 0);
    font-family: 'Outfit', sans-serif;
    width: 100%;
    color: #eee;
}
button{
    font-family: 'Outfit', sans-serif;

}
.landing-div p{
    word-wrap: break-word;
    width: 65%;
}
.landing-div{
    display: flex;
    width: 100%;
    align-items: center;
    height: 80vh;
    margin-top: -5vw;
}
.landing-illus{
    width: 75em;
    height: 35vw;
    background: url('/assets/illus.png');
    background-size: cover;
    background-position: center;
    margin-top: 5vw;
    margin-right: .5vw;
    transform: rotate(10deg) skew(1.5deg);
}
.nav-branding{
    margin-left: 3vw;
}
.landing-content{
    padding-left: 5vw;
}
.landing-content h1{
    font-size: 4vw;
}
.landing-content p {
    font-size: 1.25vw;
}
nav{
    padding: 15px;
    padding-top: 20px;
}
.nav-item {
    list-style: none;
    color: #fff;
    margin-right: 2.5vw;
}

.nav-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.5vw;
    letter-spacing: 1px;
    color: #fff;
}
.logo{
    width: 5vw;
    margin: 2.5vw 2.5vw;
}
.navbar {
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-menu {
    display: flex;
    width: max-content;
    z-index: 1;
}

.nav-link {
    transition: 0.3s ease-out;
    margin-right: 1.5vw;
}

.nav-link:hover {
    color: #16e16e;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: white;
}

.mobile{
    display: none;
}

@media(max-width:768px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: flex;
    }
    .sign-button {
        display: none;
    }

    .hamburger {
        display: block;
        margin-right: 10vw;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .logo{
        width: 10vw;
    }
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 90px;
        gap: 0;
        height: 1vh;
        flex-direction: column;
        background-color: #000;
        width: 100%;
        height: calc(100vh - 90px);
        text-align: center;
        transition: 0.3s;
    }

    .nav-item {
        margin: 2vh;
    }

    .nav-menu.active {
        left: 0;
    }

    .navbar {
        justify-content: space-between;
    }
    .nav-link{
        font-size: 5vw;
        margin-top: 5vw;
    }
}
.Leaderboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    min-height: calc(100vh - 90px);
}

.leader-entry-top {
    margin-top: 10px;
    color: #16e16e;
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 2vw;
}

.leader-entry {
    margin-top: 10px;
    color: white;
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 1.35vw;
    text-align: center;
    border-bottom: 1px solid #ffffff56;
}
@media screen and (max-width: 768px) {
    .leader-entry-top {
        width: 80%;
        font-size: 18px;
    }

    .leader-entry {
        width: 80%;
        font-size: 18px;
    }

    .leader-entry h3 {
        font-size: 18px;
    }
}
.play-container {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width: 768px){
    .landing-div{
        display: block;
        margin-top: 5em;
    }
    .landing-div h1{
        font-size: 10vw;
    }
    .landing-div p {
        font-size: 4vw;
        width: 75%;
    }
    .landing-illus{
        width: 75vw;
        height: 75vw;
    }
}
.countdown {
    color: #eee;
    font-size: 1vw;
    font-weight: 500;
    justify-content: space-between;
    display: flex;
    list-style-type: none;
    padding: 1em;
    width: 35em;
    margin-right: auto;
    margin-top: 2.5vw;
}
.countdown li{
    text-align: center;
}

.countdown li span{
    font-size: 4.5vw;
    font-weight: 600;
    letter-spacing: 1.25px;
}