<div class="Leaderboard">
    <div class="leader-entry-top">
        <p>Username</p>
        <p>Completed Levels</p>
    </div>

    <% for (i in users){ %>
    <div class="leader-entry">
        <h3><%= users[i].plat_name %></h3>
        <p><%= users[i].plat_levels_completed.length %></p>
    </div>
    <% } %>
</div>