<div>
    <h1><%=level.number %></h1>
    <h2><%= level.maintext%> </h2>
    <% if (typeof level.image != "undefined") {%>
    <img src="<%=level.image %> ">
    <% } %> 
    <!-- <%= level.sourceCodeHint %> -->
</div>