<div class="play-container">
    <!-- <h1>Select The Level!</h1> -->
    <svg width="800" height="700" viewBox="0 0 401 350" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M198.402 4.5C199.557 2.5 202.443 2.5 203.598 4.5L241.703 70.5C242.858 72.5 241.415 75 239.105 75H162.895C160.585 75 159.142 72.5 160.297 70.5L198.402 4.5Z" fill="#202020"/>
        <path d="M148.402 86.5C149.557 84.5 152.443 84.5 153.598 86.5L191.703 152.5C192.858 154.5 191.415 157 189.105 157H112.895C110.585 157 109.142 154.5 110.297 152.5L148.402 86.5Z" fill="#202020"/>
        <path d="M248.402 86.5C249.557 84.5 252.443 84.5 253.598 86.5L291.703 152.5C292.858 154.5 291.415 157 289.105 157H212.895C210.585 157 209.142 154.5 210.297 152.5L248.402 86.5Z" fill="#202020"/>
        <path d="M203.598 151.5C202.443 153.5 199.557 153.5 198.402 151.5L160.297 85.5C159.142 83.5 160.585 81 162.895 81L239.105 81C241.415 81 242.858 83.5 241.703 85.5L203.598 151.5Z" fill="#202020"/>
        <path d="M98.4019 168.5C99.5566 166.5 102.443 166.5 103.598 168.5L141.703 234.5C142.858 236.5 141.415 239 139.105 239H62.8949C60.5855 239 59.1421 236.5 60.2968 234.5L98.4019 168.5Z" fill="#202020"/>
        <path d="M198.402 168.5C199.557 166.5 202.443 166.5 203.598 168.5L241.703 234.5C242.858 236.5 241.415 239 239.105 239H162.895C160.585 239 159.142 236.5 160.297 234.5L198.402 168.5Z" fill="#202020"/>
        <path d="M153.598 233.5C152.443 235.5 149.557 235.5 148.402 233.5L110.297 167.5C109.142 165.5 110.585 163 112.895 163H189.105C191.415 163 192.858 165.5 191.703 167.5L153.598 233.5Z" fill="#202020"/>
        <path d="M253.598 234.825C252.443 236.825 249.557 236.825 248.402 234.825L210.297 168.825C209.142 166.825 210.585 164.325 212.895 164.325L289.105 164.325C291.415 164.325 292.858 166.825 291.703 168.825L253.598 234.825Z" fill="#202020"/>
        <path d="M300.266 169.429C301.46 167.452 304.346 167.509 305.461 169.531L342.264 236.266C343.38 238.288 341.888 240.759 339.579 240.714L263.383 239.219C261.074 239.174 259.68 236.646 260.874 234.669L300.266 169.429Z" fill="#202020"/>
        <path d="M47.4019 252.5C48.5566 250.5 51.4434 250.5 52.5981 252.5L90.7032 318.5C91.8579 320.5 90.4145 323 88.1051 323H11.8949C9.58548 323 8.14211 320.5 9.29681 318.5L47.4019 252.5Z" fill="#202020"/>
        <path d="M147.402 252.5C148.557 250.5 151.443 250.5 152.598 252.5L190.703 318.5C191.858 320.5 190.415 323 188.105 323H111.895C109.585 323 108.142 320.5 109.297 318.5L147.402 252.5Z" fill="#202020"/>
        <path d="M102.598 317.5C101.443 319.5 98.5566 319.5 97.4019 317.5L59.2968 251.5C58.1421 249.5 59.5855 247 61.8949 247H138.105C140.415 247 141.858 249.5 140.703 251.5L102.598 317.5Z" fill="#202020"/>
        <path d="M202.598 318.825C201.443 320.825 198.557 320.825 197.402 318.825L159.297 252.825C158.142 250.825 159.585 248.325 161.895 248.325L238.105 248.325C240.415 248.325 241.858 250.825 240.703 252.825L202.598 318.825Z" fill="#202020"/>
        <path d="M302.598 317.5C301.443 319.5 298.557 319.5 297.402 317.5L259.297 251.5C258.142 249.5 259.585 247 261.895 247L338.105 247C340.415 247 341.858 249.5 340.703 251.5L302.598 317.5Z" fill="#202020"/>
        <path d="M249.266 253.429C250.46 251.452 253.346 251.509 254.461 253.531L291.264 320.266C292.38 322.288 290.888 324.759 288.579 324.714L212.383 323.219C210.074 323.174 208.68 320.646 209.874 318.669L249.266 253.429Z" fill="#202020"/>
        <path d="M347.537 253.166C348.73 251.189 351.617 251.245 352.732 253.268L389.535 320.002C390.65 322.025 389.158 324.496 386.849 324.45L310.654 322.956C308.345 322.91 306.951 320.382 308.144 318.405L347.537 253.166Z" fill="#202020"/>
    </svg>
           
    <!-- for (i in user.plat_levels_unlocked){%>
    <button onclick="select('<%=  user.plat_levels_unlocked[i] %>')"><%=  user.plat_levels_unlocked[i] %></button>
    } %> -->
</div>

<script>
    function select(id){
        window.location.href = "/play/select/" + id;
    }
    function newfunc(num){
        console.log(num)
    }
</script>

<style>
    .arrow-up {
        width: 0;
        height: 0;
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-bottom: 25px solid black;
    }
</style>