<div class="profile-main">
    <div class="profile-container">
        <img class="profile-image" src="<%= avatar %>">
        <div class="discription">
            <h1 class="name">Name: &nbsp;&nbsp;<span><%= user.plat_name %></span></h1>
            <h1 class="name">Discord Id: &nbsp;&nbsp;<span><%= user.username %></span></h1>
            <h1 class="name">School: &nbsp;&nbsp;<span><%= user.plat_school %></span></h1>
        </div>
        <button class="logout">Logout</button>
    </div>
</div>

<style>
    .logout {
        margin-top: 50px;
        padding: 0.5em;
        padding-left: 1em;
        padding-right: 1em;
        font-size: 1.7rem;
        border-radius: 10px;
        background-color: #16e16e;
        color: black;
    }

    span {
        color: #16e16e;
    }

    .discription {
        width: max-content;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .name {
        font-size: 2rem;
        font-weight: 600;
        margin-top: 1rem;
        color: white;
    }

    .profile-image {
        border-radius: 15px;
        margin-bottom: 20px;
    }

    .profile-main {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100%;
        background-color: black;
    }

    .profile-container {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        width: 80vw;
        min-height: 80vh;
    }

    @media screen and (max-width: 768px) {
        .profile-container {
            width: 100vw;
        }

        .discription {
            width: 90vw;
        }

        .name {
            font-size: 1.5rem;
        }

        .logout {
            font-size: 1.5rem;
        }
    }
</style>